/* .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin-bottom: 10px;
} */

/* .main_heading {
  font-size: 30px;
  margin: 20px 0;
  text-align: left;
} */

/* .main_row {
  background-color: #110840;
  text-transform: uppercase;
  letter-spacing: 0.01em;
} */

/* .table_row {
  flex-basis: 25%;
} */
/* 
@media all and (max-width: 767px) {

  .col {
    flex-basis: 100%;
  }

  .col {
    display: flex;
    padding: 10px 0;

    &:before {
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
} */
/* 
.heading {
  color: white
} */

/* .table {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
} */

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table {
	width:100%;
}

.main_row {
  display:flex;
	width:100%;
	background:#000;
	padding:0;
}

/* 
.button:hover {

} */

/* .button_div { */
  /* height: 35px; */
  /* display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 6px;
  flex-direction: row;
} */

/* .inner_div { */
  /* justify-content: space-between; */
  /* align-content: space-around; */
  /* align-items: ; */
  /* display: flex;
} */


tr {
  border: 1px solid #000;
  color: black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
  color: #000;
}

tr:nth-child(odd) {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;

}


tr:hover {
  background-color: #ddd;
}

th {
  /* padding-top: 12px;
  padding-bottom: 12px; */
  text-align: center;
  background-color: #219de1;
  color: #fff;
  padding: 20px;

}

td {
  /* padding-top: 12px;
  padding-bottom: 12px; */
  text-align: center;
  color: #000;
  padding: 20px;

}

.modal{
  margin-bottom: 10px;  
}

.modalbackground{
  width: 100vh;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-effect{
  position: -webkit-sticky;
  position: sticky;
  top:0
}

.main-container{
  min-height: 100vh;
  padding: 8px;
  background-image: url("../Images/triangle-mosaic.png");
  
  
}
.header-style{
  /* background-image: url("../Images/background4.svg"); */
  padding: 10px;
  /* background-color: beige; */
}

.main_heading{
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
}
