.form-details {
  display: flex;
  align-items: center;
}

.button_div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 6px;
  flex-direction: row;
}


@media only screen and (min-width : 992px) {}


@media (max-width: 768px) {
  .typo-style {
    max-width: 200px;
    word-wrap: break-word;
  }
}


@media (max-width: 320px) {
  .typo-style {
    max-width: 200px;
    word-wrap: break-word;
  }
}

.button {
  background-color: #fff;
  border: 1px solid #2d344b;
  padding: 5px;
  position: relative;
  padding: 10px;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  margin: 10px;
}

.button:hover {
  background-color: #2d344b;
  color: white;
  cursor: pointer;
}

.modal-box{
  justify-content: flex-end;
  display: flex;
}

.modal-btn{
  background-color: #fff;
  border: 1px solid green;
  color: green;
  padding: 9px;
  transition: 0.5s;
  font-size: 14px;
  border-radius: 0.4em;
  margin: 8px;
  position: relative;
  height: auto;
  /* height:30px; */
}

.modal-btn:hover {
  /* border: 1px solid green;
  cursor: pointer; */
  background-color: green;
  color: white;
  cursor: pointer;
}

.cancel-btn{
  background-color: #fff;
  border: 1px solid white;
  color: red;
  padding: 9px;
  transition: 0.5s;
  font-size: 14px;
  border-radius: 0.4em;
  margin: 8px;
  position: relative;
  height: auto;
}

.cancel-btn:hover {
  border: 1px solid red;
  cursor: pointer;
}

.inner_div {
  justify-content: space-between;
  display: flex;
}

.typo-style {
  color: "#595959";
  font-weight: 500;
  font-size: 15;
  padding: 1px;
}

.modal-style{
  border-radius: 10px;
}