.form-details {
  display: flex;
  align-items: center;
}

.button_div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 6px;
  flex-direction: row;
}


@media only screen and (min-width : 992px) {}


@media (max-width: 768px) {
  .typo-style {
    max-width: 200px;
    word-wrap: break-word;
  }
}


@media (max-width: 320px) {
  .typo-style {
    max-width: 200px;
    word-wrap: break-word;
  }
}

.button {
  background-color: #fff;
  border: 1px solid #219de1;
  padding: 5px;
  position: relative;
  padding: 10px;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  margin: 10px;
}

.button:hover {
  background-color: #219de1;
  color: white;
}

.inner_div {
  justify-content: space-between;
  display: flex;
}

.typo-style {
  color: "#595959";
  font-weight: 500;
  font-size: 15;
  padding: 1px;
}