.nav-box{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top:0;    
}

.main-header{
    width:100%;
}

.tab-list{
    background-color: white;
    width: 100%;
}

.header-style{
    background-image: url("../Images/triangle-mosaic.png");
}

